<html>
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
      </script>
      <script type=text/javascript>
         $(function() {
            $('button').click(function() {
               $.ajax({
                     url: '/result',
                     data: $('form').serialize(),
                     type: 'POST',
                     success: function(response) {
                        console.log(response);
                        $("#result").text(response.result);
                     },
                     error: function(error) {
                        console.log(error);
                     }
               });
            });
         });
       </script>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   </head>
   <body>
      <table align="center">
         <tr><td colspan="2" align="center"><H1>Second-hand house for sale</H1></td></tr>
         <tr>
            <td><img src="/static/house.jpg" width="500" height="600"></td>
            <td>   
               <form action = "/result" method = "POST">
                  <p>House size <input type = "number" name = "house_size" /> feet<sup>2</sup></p>
                  <p>Num of bedrooms <input type = "number" name = "num_of_bedrooms" /></p>
                  <p><button id="button" class="btn btn-lg btn-primary btn-block" type="button">Submit</button></p>
                  <p>Predicted house price =  <span id=result></span> USD</p>
               </form>
            </td>
         </tr>
      </table>
   </body>
</html>